#program
{
    min-height: 400px;
    margin-top: 75px;
}

#fot a:hover
{
    font-weight: 700;
    color: orange !important;
}

.navbar a:hover
{
    font-weight: 500;
}

.bi
{
    margin-right: 10px;
}

body
{
    background-color: lightgrey;
}